#
# Normal rules
#
.*
!.gitignore
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.mod.c
*.i
*.lst
*.symtypes
*.d
*.orig
*.rej

#
# for GLOBAL
#
GTAGS
GRTAGS
GPATH
GSYMS
#
# programs
#
client
httpd

# cscope files
cscope.*

#Directories
doc
